/250k.csv
/250k.inp
/300k.inp
/300k_75.csv
/B.csv
/Boundary_effects.py
/C.csv
/cube_size.npy
/c_2d.csv
/deformation_gradients_2d.csv
/displacement_centroids.npy
/E.csv
/e_2d.csv
/F.csv
/iosipescu.csv
/iosipescu_trial1.csv
/Job-4.inp
/linearelastic_82k.csv
/matrix.npy
/MR_Concentrated.inp
/phi.npy
/phi_indentation_2.npy
/phi_indentation_3.npy
/phi_indetation.npy
/pk1.csv
/pk1_2d.csv
/reader.py
/tensor_displacement_list.npy
/undeformed_centroids.csv
/undeformed_centroids.npy